.container-md {
  text-align: center;
  border: 5px solid gainsboro;
  background-color: rgb(37, 37, 37);
  /* background-image: url(840328.jpg); */
  color: white;
  width: 100%;
  height: auto;
  margin-top: 5px;


}

input {
  width: 400px;
  margin-bottom: 40px;
  height: 40px;
  border: 2px solid black;

}

/* button{
  width:400px;
  height:40px;
} */
span {
  color: rgb(255, 0, 0);
  display: none;
}

table,
tr,
th {
  border: 1px solid rgb(255, 255, 255);
}

table {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;

}

#fname {
  margin-bottom: 5px;
}

#email {
  margin-bottom: 5px;
}

#phNumber {
  margin-bottom: 5px;
}

th {
  background-color: rgb(202, 202, 190);
  color: black;
}

#form {
  margin-top: 50px;
  margin-bottom: 50px;
}